.content-page
  height: 100%
  background-color: $LIGHT-GRAY
  & > .content
    position: relative
    padding: 60px
    padding-left: 80px
    width: 100%
    min-height: 100vh

.content-header
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  padding-top: 12px
  padding-bottom: 12px
  width: 100%
  & > .content-header-right
    & > button
      & > i
        padding-right: 10px
  & > .content-header-left
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 0px;

.card-box 
  padding: 20px
  -webkit-border-radius: 5px
  border-radius: 5px
  -moz-border-radius: 5px
  background-clip: padding-box
  background-color: $WHITE
  margin-bottom: 30px
  .widget-inline-box
    border-right: 1px solid $LIGHT-GRAY

.card-box-gray
  color: #777
  padding-top: 15px
  border-top: 1px solid #ddd
  border-bottom: 1px solid #ddd
  background-color: white
  