header
  position: fixed
  display: flex
  flex-direction: row
  width: 100%
  align-items: center
  justify-content: space-between
  padding-top: 12px
  padding-bottom: 12px
  height: 60px
  background-color: $LIGHT-BLUE
  z-index: 10
