.background-lighter-gray
  background-color: $LIGHTER-GRAY

.clickable
  cursor: pointer

.text-bold
  font-weight: bold

.table-responsive,
.modal-body
  max-height: calc(100vh - 220px)
  overflow-y: auto
  &::-webkit-scrollbar
    width: .5em
  &::-webkit-scrollbar, &::-webkit-scrollbar-thumb
    overflow:visible
    radius 10px
  &::-webkit-scrollbar-thumb
    background: $DARK-GRAY

.text-center
  text-align: center

.fa
  &.fa-edit,
  &.fa-history
    font-size: 18px

.text-danger
  color: $RED

.text-blue
  color: $LIGHT-BLUE


  

