body
  font-family: FONT-DEFAULT
  font-size: 13px
  -ms-overflow-style: scrollbar
  padding-right: 0px !important
  &::-webkit-scrollbar
    width: .5em
  &::-webkit-scrollbar, &::-webkit-scrollbar-thumb
    overflow:visible
    radius 10px
  &::-webkit-scrollbar-thumb
    background: $DARKEST-GRAY

h1
  font-family: FONT-DEFAULT
  font-size: 24px
  color: $DARKEST-GRAY

h2
  font-family: FONT-DEFAULT
  font-size: 18px
  color: $GRAY
  margin-bottom: 20px

th  
  text-transform: uppercase
  font-size: 11px

.row 
  margin: 0px
  
